# Ignore environment files
.env

# Ignore Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore IDE and OS metadata
.vscode/
.idea/
.DS_Store
Thumbs.db

# Ignore virtual environment
/venv

# Innore playwright auth state
state.json